.offer-wrapper{
    min-height: 737px;
    display: flex;
    justify-content: center;
}

.offer{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
    img{
        opacity: 0.6;
        z-index: 0;
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


    &__top{
        z-index: 10;
    }
    &__text{
        z-index: 10;
        
    }
    &__link{
        z-index: 10;
    }
}

.offer-man, .offer-women{
    &__top{
        position: relative;
        z-index: 10;
    }
    &__text{
        position: relative;
        z-index: 10;
    }
    &__link{
        position: relative;
        z-index: 10;
    }
}

.offer-women{
    
    &__text{
        
        margin: 318px 0 0 auto;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 9.6px;
        max-width: 600px;
        span {
            font-weight: 400;
        }
    }
    &__link{
        margin: 0 0 0 260px;
        a{
            color: #ffffff;
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 25px 41px;
            background-color: #a57ee7;
            border: 1px solid #505050;
            
        }

        display: inline-block;
        padding: 0;
        line-height: 5; 
    }
}


.offer-man{
    &__top{
        margin: 230px 0 0 61px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 20.8px;  
        line-height: 44px;
        background-color: #1a2730;
        padding: 0 67px;
        display: inline-block;
    }
    &__text{
        margin: 10px 0 0 125px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 9.6px;
        span {
            font-weight: 400;
        }
    }
    &__link{
        margin: 10px 0 0 125px;
        a{
            color: #ffffff;
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 25px 41px;
            background-color: #a57ee7;
            border: 1px solid #505050;
            
        }

        display: inline-block;
        padding: 0;
        line-height: 5; 
    }
}

.offer-man img{
    object-position: right;
    
}

// SECTION 1 ------------

.collection-wrapper{
    padding: 120px 0 100px 0;
    max-height: 4772px;
    background-color: #f7f7f7;
}

.collection{
    display: flex;
    &__col_66{
        flex: 0 0 66.66%;
        overflow: hidden;
    }
    &__col_33{
        flex: 0 0 33.33%;
        overflow: hidden;
    }
}

.row{
    &__top{
        overflow: hidden;
        position: relative;
        height: 374px;
        img{
            z-index: 0;
            padding: 6px 6px 6px 6px;
            border-radius: 10px;
            height: 100%;
            width: 100%;
            position: absolute;
            -o-object-position: center;
            object-position: right;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

 
}

.column{
    display: flex;
    height: 414px;
    &__item{
        flex: 0 0 50%;
        width: 100%;
        height: 414px;
        overflow: hidden;
        position: relative;
        img{
            z-index: 0;
            padding: 6px 6px 6px 6px;
            border-radius: 10px;
            height: 100%;
            width: 100%;
            position: absolute;
            -o-object-position: center;
            object-position: center;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    
    &__text{
        position: relative;
        z-index: 10;
    }
}

.column2__item{
    height: 100%;
    width: 100%;
    position: relative;
    img{
        z-index: 0;
        padding: 6px 6px 6px 6px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        position: absolute;
        -o-object-position: center;
        object-position: center;
        -o-object-fit: cover;
        object-fit: cover;
    }    
}

.content__info{
    position: relative;
    margin: 80px 0 0 60px;
    width: 396px;
    height: 235px;
    background-color:rgba(255, 255, 255, 0.34);
    color: black;
   
}

.content__info_text{
    padding: 76px 0 0 0;
    text-align: center;
    position: relative;
    z-index: 10;
    color: #241d31;
    font-family: "Montserrat - Semi Bold";
    font-size: 40px;
    font-weight: 400;
    opacity: 1;
    span{
        color: #241d31;
        font-family: Pacifico;
        font-size: 32px;
        font-weight: 400;
    }
}

.content__info_link{
    position: relative;
    z-index: 10;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    // margin: 0px 0 0 137px;
    text-align: center;
    display: block;
    padding: 0;
    line-height: 5; 
        a{
            color: #ffffff;
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 16px 26px;
            background-color: #a57ee7;
            border: 1px solid #505050;
            
        }
}


.column__text{
    position: relative;
    margin: 40% 0 0 0px;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.34);
    color: black;
    padding: 34px 0 20px 0;
    height: 120px;
    
    text-align: center;
    z-index: 10;
    color: #241d31;
    font-family: Pacifico;
    font-size: 40px;
    font-weight: 400;
}


.collection__col_33{}

.col2-row___link{
    position: relative;
    z-index: 10;
    display: block;
    text-align: center;
    margin: 100px 0 0 0;
    a{
        color: #ffffff;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 16px 26px;
        background-color: #a57ee7;
        border: 1px solid #505050;
        
    }
}
.row-bg{}

.col2-row__text{
    position: relative;
    opacity: 0;
}

.col2-row__text, .col2-row__text_2{
    height: 203px;
    position: relative;
    
    width: 100%;
    background-image: url('../img/main/section1/bg_04.png');
    background-size: 100%;
    color: black;
    padding: 34px 0 20px 0;
    height: 120px;
    
    text-align: center;
    z-index: 10;
    color: #ffffff;
    font-family: Pacifico;
    font-size: 40px;
    font-weight: 400;
    span{
        position: relative;
        z-index: 2000;
        color: #ffffff;
        letter-spacing: -1.56px;
    };
    span:last-child{
        font-family: Montserrat;
        font-size: 39px;
        font-weight: 400;
        text-transform: uppercase;   
    };
}

.col2-row__text_2{
    margin: 20% 0 0 0px; 




 
}

// .circle {
//     width: 10em; /* поддерживаются любые единицы, в том числе проценты */
//     margin: 1em auto;
//     background: silver;
//     border-radius: 50%;
//   }
  
.circle::after {
    content: "";
    top:-10px;
    left:30%;
    z-index: 2;
    position: absolute;
    width: 175px; 
    // margin: 1em auto;
    background: #422963;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    padding-top: 175px;
  }



